= f.input :product_id, collection: Product.products_for_select
= f.input :date, as: :string, input_html: { class: 'datepicker', value: Date.today.strftime('%d/%m/%Y') }
= f.simple_fields_for :prices do |price|
  = price.input :sale_price
