%table.table.table-striped
  %thead
    %tr
      %th= @firm ? t('activerecord.models.product.one') : t('activerecord.models.firm.one')
      %th= t 'attributes.date'
      %th= Interest.human_attribute_name :price
      %th
  %tbody{ id: 'sale_interests_body' }
    = render @sale_interests