.modal
  = simple_form_for @order, url: orders_path(@order), html: { remote: true, data: { modal: true, error: 'modal' } } do |f|
    .modal-header
      %h3= @title
    .modal-body
      = render partial: 'form', locals: { f: f }
    .modal-footer
      = yield :form_actions
