
= f.text_field :name, placeholder: Contact.human_attribute_name(:name)
= f.text_field :area, placeholder: Contact.human_attribute_name(:area)
= f.text_field :details, placeholder: Contact.human_attribute_name(:details)
