.modal
  .modal-header
    %h3= t 'view.contacts.new_title', firm: @firm.nombre
  .modal-body
    = render 'form'
  .modal-footer
    = link_to_function t('label.close'), "$('#modal').modal('toggle');", class: 'btn'