= srbuj_link_to_new t('view.sale_interest.update_price'), new_price_path(interest), class: 'btn btn-primary btn-mini'
= link_to t('view.products.show_historic'), prices_path(interest), class: 'btn btn-success btn-mini'