.container-fluid

  = render 'form'
%nav.form-actions
  = link_to_show [@purchase_invoice.monthly_movement, @purchase_invoice]
  = link_to t('label.back'), monthly_movement_purchase_invoices_path(@monthly_movement)
