.container-fluid
  %h1 Nueva factura de compra de #{@monthly_movement.month} de #{@monthly_movement.year}

  = render 'form'
%nav.form-actions
  = link_to 'Volver', monthly_movement_purchase_invoices_path, class: 'btn'
