.modal
  = simple_form_for @product, url: products_path(@product), html: { remote: request.xhr?, data: { target: 'products_body', modal: true, error: 'modal' } } do |f|
    .modal-header
      %h3= @title
    .modal-body
      = render partial: 'form', locals: { f: f }
    .modal-footer
      = yield :form_actions
